name: banking_app_webview
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  webview_flutter: ^4.13.0
  local_auth: ^2.3.0
  flutter_secure_storage: ^9.2.4
  fluttertoast: ^8.2.12
  webview_flutter_android: ^4.10.1
  flutter_svg: ^2.2.2
  encrypt: ^5.0.3
  crypto:
  connectivity_plus: ^7.0.0
  lottie: ^3.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/